.light-dark-design {
    max-width: 1200px;
    margin: 40px 100px;
    padding: 40px;
  }
  
  .light-dark-design__title {
    font-size: 54px;
    font-weight: 700;
    margin: 0 0 50px 0;
    text-align: center;
    color: #1A1A1A;
    font-family: 'TT Travels Bold', sans-serif;
  }
  
  .light-dark-design__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    margin: 50px 0 10px 0;
  }
  
  .light-dark-design__block-title {
    font-size: 36px;
    font-weight: 700;
    font-family: 'TT Travels Bold', sans-serif;
    color: #1A1A1A;
    margin: 10px;
  }
  
  .light-dark-design__download-button {
    background-color: #773844;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 12px;
    font-size: 16px;
    height: 40px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    width: 250px;
  }
  
  .light-dark-design__download-button:hover {
    background-color: #646562;
  }
  
  .light-dark-design__gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 250px);
    grid-gap: 16px;
    padding: 0 24px;
  }
  
  .light-dark-design__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
  }
  
  .light-dark-design__gallery > *:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
  
  .light-dark-design__gallery > *:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }
  
  .light-dark-design__gallery > *:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  
  .light-dark-design__gallery > *:nth-child(4) {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
  }
  
  .light-dark-design__line {
    height: 2px;
    background-color: #EAE3D9;
    margin: 50px 24px;
  }
  
  .light-dark-design__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    border-radius: 6px;
    gap: 20px;
  }
  
  .light-dark-design__info-image {
    width: 100px;
    height: auto;
    border-radius: 6px;
    object-fit: cover;
  }
  
  .light-dark-design__info-caption,
  .light-dark-design__info-text {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
  }
  
  .light-dark-design__info-caption {
    letter-spacing: 1.2px;
    text-transform: uppercase;
  }
  
  .light {
    background-color: #FFFFFF;
  }
  
  .dark {
    background-color: #42352A;
  }
  
  .light .light-dark-design__info-caption {
    color: #773844;
    font-size: 12px;
  }
  
  .dark .light-dark-design__info-caption{
   color: #C2BDB6;
   font-size: 12px;
  }
  .dark .light-dark-design__info-text {
    color: #fff;
  }
  