
/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 40px;
  flex-wrap: wrap;
}

.header__left,
.header__right {
  flex: 1 1 50%;
}

.header__left {
  display: flex;
  align-items: center;
  gap: 20px;
  max-width: 329px;
  font-family: 'Helvetica Neue';
}

.headerLogo {
  max-width: 157px;
  max-height: 32px;
}

.header__partner-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 14px;
  color: #646562;
  font-weight: 600;
}

.header__right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  max-width: 140px;
  max-height: 38px;
}

.header__phone {
  font-size: 16px;
  color: #1A1A1A;
  font-family: 'TT Travels';
}

.header__phone-layout {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin: 2px 0;
}

.header__working-status {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  color: #A0A747;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

.header__dot {
  min-width: 4px;
  min-height: 4px;
  border-radius: 50%;
  background-color: #A0A747;
}

/* Адаптив */

@media (max-width: 1199px) {
  .header {
    padding: 20px 24px;
  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 16px;
  }

  .header__left,
  .header__right {
    flex: 1 1 50%;
  }

  .header__left {
    align-items: flex-start;
    gap: 12px;
  }

  .headerLogo {
    max-width: 120px;
  }

  .header__partner-wrapper {
    font-size: 12px;
  }

  .header__phone {
    font-size: 12px;
  }

  .header__working-status {
    font-size: 12px;
  }

  .header__phone-layout {
    width: 78%;
    margin: 4px 0;
  }
   
.header__right {
  display: flex;
  flex-direction: column;
  line-height: 0.8;
}
}

@media (max-width: 479px) {
  .header {
    padding: 8px;
  }

  .headerLogo {
    max-width: 90px;
  }

  .header__partner-wrapper {
    font-size: 9px;
  }

  .header__left {
    gap: 8px;
    flex-wrap: wrap;
  }
  .header__phone {
    font-size: 9px;
  }

  .header__working-status {
    font-size: 9px;
  }

  .header__right {
    margin-top: 5px;
  }
  .header__phone-layout {
    width: 55%;
    margin: 3px 0;
  }
}
